.type-details-main-img {
  animation-name: mover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: mover;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  width: clamp(20vw, 15em + 5vw, 70vw);
  height: clamp(20vw, 15em + 5vw, 70vw);
  box-shadow: 0 0 .5em white;
  border-radius: 50%;
}

.type-details-main-img:hover {
  -webkit-animation: none;
  animation: none;
  transform: scale(1.03);
}

.type-details-move-thead {
  background-color: rgba(255, 255, 255, 0.09);
  vertical-align: middle;
}

.move-table-container tbody th { 
  white-space: nowrap;
  min-width: 200px;
}