.custom-pokemon-image {
  animation-name: mover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: mover;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  width: clamp(30vw, 20em + 5vw, 90vw);
  height: auto;
  position: relative;
  z-index: 1;
}

.custom-pokemon-image:hover {
  -webkit-animation: none;
  animation: none;
  transform: scale(1.03);
}

#details-header {
  font-size: clamp(1.5em, 1.5em + 4vw, 5em)!important;
}